{% extends "storeapp/base.html" %}
{% load static %}

{% block content %}
<!-- breadcrumb -->
{% include "storeapp/post/details/breadcrumb.html" %}
	<section class="bg0 p-t-52 p-b-20">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-lg-9 p-b-80">
					<div class="p-r-45 p-r-0-lg">
						<!--  -->
						<div class="wrap-pic-w how-pos5-parent">
							<img src="{% static 'images/blog-04.jpg' %}" alt="IMG-BLOG">
								<p style="padding: 12px;">
								<a href="{% url 'blog:post_share' post.id %}">
								Share this post
								</a>
								</p>
							<div class="flex-col-c-m size-123 bg9 how-pos5">
								<span class="ltext-107 cl2 txt-center">
									{{post.publish|date:"d"}}
								</span>

								<span class="stext-109 cl3 txt-center">
                                    {{post.publish|date:"D Y"}}
								</span>
							</div>
						</div>
						<div class="p-t-32">
							<span class="flex-w flex-m stext-111 cl2 p-b-19">
								<span>
									<span class="cl4">By</span> {{post.author}}  
									<span class="cl12 m-l-4 m-r-6">|</span>
								</span>

								<span>
									{{post.publish|date:"d D, Y"}}
									<span class="cl12 m-l-4 m-r-6">|</span>
								</span>

								<span>
									StreetStyle, Fashion, Couple  
									<span class="cl12 m-l-4 m-r-6">|</span>
								</span>

								<span>
									<!-- Comments -->
										{% with comments.count as count  %}
											{{count}} Comment{{count|pluralize}}
										{% endwith %}
								</span>
							</span>
							<h4 class="ltext-109 cl2 p-b-28">
								{{post.title}}
							</h4>
							<p class="stext-117 cl6 p-b-26">
								{{post.body}}
							</p>
						</div>
						 <!-- tags -->
						 {% include "storeapp/post/details/tags.html" %}
						<!-- create comments  -->
						{% include "storeapp/post/details/comments.html" %}
									
				
					</div>
				</div>
						<!-- right-menu -->
						{% include "storeapp/post/details/right_menu.html" %}
			</div>
		</div>
	</section>
{% endblock content %}
