{% extends "storeapp/base.html" %}

{% block title %}Reset your password{% endblock title %}

{% block content %}
    <h1>Forgotten your password?</h1>
    <p>Enter your e-mail address to obtain a new password.</p>
    <form action="." method="post">

            <div class='m-3 bor19 size-218 m-b-20'>{{ form.email }}</div>
            <p><input type="submit" value="Send e-mail" class='m-3 btn btn-success'></p>
            <p class='text-danger m-3'>{{form.errors}}</p>
            {% csrf_token %}
    </form>
{% endblock content %}
    